* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
header {
    background-color: rgb(37 94 233);
    color: white;
}

/* nav */
.container-nav {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
}

/* nav-element */
.nav-element {
    padding: .1em;
}

.nav-element.logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-element.link {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: lightgray;
    
}

.nav-element.login {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

.login-button {
    color: black;
    background-color: white;
    padding: .4rem;
    border: .1rem;
    border-radius: 1rem;
}

/* main */

/* hero */
.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    padding: 3rem 0;
}

.container-hero {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}

.hero-title {
    font-size: 3rem;
}

.hero-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.margin-top {
    margin-top: .5rem;
}

.hero-button {
    background-color: white;
    padding: .5rem;
    border: .1rem;
    border-radius: 1rem;
}

.hero-button.white {
    color: black;
}

.hero-button.black {
    background-color: black;
}

/* section-1 */
.section-1 {
    background-color: rgb(255, 255, 255);
}

.container-section-1 {
    width: 70%;
    margin: 0 auto;
    padding: 50px;
}

.flex-section-1 {
    display: flex;
    gap: 1.5rem;
}

.section-1-element-1 {
    background-image: url(../img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
}

.section-1-element-2 {
    width: 40%;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: .9rem;
}

/* section-2 */
.section-2 {
background-color: #f6f6f6;
}

.container-section-2 {
    width: 70%;
    margin: 0 auto;
    padding: 50px;
}

.flex-section-2 {
    display: flex;
    gap: 1.5rem;
}

.section-2-element-1 {
    width: 40%;
}

.section-2-element-2 {
    width: 60%;
    background-image: url(../img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* section-3 */
.section-1 {
    background-color: rgb(255, 255, 255);
}

.container-section-3 {
    width: 70%;
    margin: 0 auto;
    padding: 50px;
}

.flex-section-3 {
    display: flex;
    gap: 1.5rem;
}

.section-3-element-1 {
    width: 60%;
    background-image: url(../img/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.section-3-element-2 {
    width: 40%;
}

/* section-4 */
.section-4 {
    background-color: #f6f6f6;
}

.container-section-4 {
    width: 70%;
    margin: 0 auto;
    padding: 50px;
}

.flex-section-4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.section-4-element-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-4-element-2 {
    min-width: 60%;
    height: 300px;
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.section-4-element-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-button.blue {
    background-color: cornflowerblue;
}

h3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* footer */
footer {
    color: white;
}

/* footer-top */
.footer-top {
    background-color: rgb(44, 44, 44);
}

.container-footer-top {
    width: 70%;
    margin: 0 auto;
    padding: 40px 0px 20px;
}

.flex-footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top-element-big {
    width: 30%;
    display: flex;
    flex-wrap: wrap;

}

.footer-top-element-small {
    width: 70%;
    display: flex;
}

.menu {
    width: calc(100% / 4);
}

.footer-title {
    font-size: 1.5rem;
    
}

.nav-color {
    color: cornflowerblue;
}

i {
    margin-right: .5rem;
}

.social {
    width: 100%;
}

/* footer-bottom */
.footer-bottom {
    background-color: rgb(44, 44, 44);
}

.container-footer-bottom {
    width: 70%;
    margin: 0 auto;
    padding: 10px 0px 0px;
}

.flex-footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom-logo {
    background-image: url(../img/logo.svg);
    width: 10rem;
    background-repeat: no-repeat;
}