* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
header {
    background-color: rgb(37 94 233);
    color: white;
}

/* nav */
.container-nav {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
}

/* nav-element */
.nav-element {
    padding: .1em;
}

.nav-element.logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-element.link {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: lightgray;
    
}

.nav-element.login {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

.login-button {
    color: black;
    background-color: white;
    padding: .4rem;
    border: .1rem;
    border-radius: 1rem;
}

/* main */

/* hero */
.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    padding: 3rem 0;
}

.container-hero {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}

.hero-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.margin-top {
    margin-top: .5rem;
}

.hero-button {
    background-color: white;
    padding: .5rem;
    border: .1rem;
    border-radius: 1rem;
}

.hero-button.white {
    color: black;
}

.hero-button.black {
    background-color: black;
}

/* section-1 */
.section-1 {
    background-color: rgb(255, 255, 255);
}

.container-section-1 {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}

.flex-section-1 {
    display: flex;
    justify-content: space-between;
    height: 250px;

}

.section-1-element-1 {
    border: 1px dashed black;
    width: 60%;
    background-color:cornflowerblue;
}

.section-1-element-2 {
    border: 1px dashed black;
    width: 40%;
    background-color:lightpink;
}

/* section-2 */
.section-2 {
    background-color: lightgrey;
}

.container-section-2 {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}

.flex-section-2 {
    display: flex;
    justify-content: space-between;
    height: 250px;

}

.section-2-element-1 {
    border: 1px dashed black;
    width: 40%;
    background-color:lightpink;
}

.section-2-element-2 {
    border: 1px dashed black;
    width: 60%;
    background-color:cornflowerblue;
}

/* section-3 */
.section-1 {
    background-color: rgb(255, 255, 255);
}

.container-section-3 {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}

.flex-section-3 {
    display: flex;
    justify-content: space-between;
    height: 250px;

}

.section-3-element-1 {
    border: 1px dashed black;
    width: 60%;
    background-color:cornflowerblue;
}

.section-3-element-2 {
    border: 1px dashed black;
    width: 40%;
    background-color:lightpink;
}

/* section-4 */
.section-4 {
    background-color: lightgrey;
}

.container-section-4 {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}

.flex-section-4 {
    display: flex;
    justify-content: space-between;
    height: 400px;

}

.section-4-element-1 {
    border: 1px dashed black;
    width: 100%;
    background-color:green;
}

/* footer */

/* footer-top */
.footer-top {
    background-color: rgb(44, 44, 44);
}

.container-footer-top {
    width: 70%;
    margin: 0 auto;
    padding: 3px 0px 20px;
}

.flex-footer-top {
    display: flex;
    justify-content: space-between;
    height: 250px;

}

.footer-top-element-big {
    border: 1px dashed black;
    width: 30%;
    background-color: rgb(231, 60, 103);
}

.footer-top-element-small {
    border: 1px dashed black;
    width: 70%;
    background-color:rgb(49, 211, 189);
    display: flex;
}

.menu {
    width: calc(100% / 4);
    border: 1px dashed black;
    height: 250px;
}

/* footer-bottom */
.footer-bottom {
    background-color: argb(44, 44, 44);
}

.container-footer-bottom {
    width: 70%;
    margin: 0 auto;
    padding: 10px 0px 0px;
}

.flex-footer-bottom {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: lightgreen;
    padding: 10px 0px;

}

.footer-bottom-element {
    border: 1px dashed black;
    padding: 3px;
    background-color: lightpink;
}